{% extends "base.html" %}
{% block title %}
about
{% endblock %}
{% block content %}
<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
        }
       
        
        header h1 {
            margin: 0;
        }
        .container {
            width: 92%;
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
        }
        section {
            margin-bottom: 30px;
        }
        section h2 {
            color: #0077b6;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
        }
       
    </style>
</head>
<body>
   
    <div class="container">
        <section>
            <h2>Welcome to City Hospital</h2>
            <p>At City Hospital , we are committed to providing exceptional healthcare services with compassion, innovation, and excellence. Our mission is to ensure the well-being of every patient who walks through our doors.</p>
        </section>

        <section>
            <h2>Our Mission and Vision</h2>
            <p>Our mission is to deliver world-class healthcare by combining state-of-the-art medical technology with personalized care. Our vision is to be a leader in healthcare, fostering a culture of trust, empathy, and innovation.</p>
        </section>

        <section>
            <h2>Our History</h2>
            <p>Founded in 2000, City Hospital has been serving the community for over 3 years, growing from a small clinic to a multi-specialty hospital with [number] beds and advanced medical facilities.</p>
        </section>

        <section>
            <h2>Our Team</h2>
            <p>Our team comprises highly skilled doctors, compassionate nurses, and dedicated staff who work together to provide comprehensive care tailored to each patient’s needs.</p>
        </section>

        <section>
            <h2>State-of-the-Art Facilities</h2>
            <p>We are equipped with the latest medical technology, including  facilities, e.g., robotic surgery, advanced diagnostics, 24/7 emergency care ensuring the highest standard of care.</p>
        </section>

        <section>
            <h2>Community Outreach</h2>
            <p>We are dedicated to giving back to the community through free health camps, awareness programs, and initiatives that promote healthy living.</p>
        </section>
    </div>

    

{%endblock%}




    